@page "/chaining"

<PageTitle>Chaining Hash-Map</PageTitle>

<h1>Chaining Hash Table</h1>

<h4>Search Client</h4>
   <InputText @bind-Value="_searchId" placeholder="Passport ID" style="width: 300px; margin-bottom: 20px; font-size: 1em"></InputText>
<button class="btn btn-info" @onclick="OnSearchClicked">Search</button>
@if (_hashMap is not null)
{
    <p><em>Collisions: @_hashMap.CollisionCount</em></p>
    <p><em>Write attempts: @string.Format("{0:F2}",(double)_hashMap.CollisionCount/30)</em></p>
}
@if (_viewCollection == null)
{
    if (_foundClient is not null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Date of Birth</th>
                    <th>Phone</th>
                    <th>Passport ID</th>
                    <th>Address</th>
                    <th>Bill Number</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                    <td>@_foundClient.FullName</td>
                    <td>@_foundClient.DateOfBirth</td>
                    <td>@_foundClient.Phone</td>
                    <td>@_foundClient.Passport</td>
                    <td>@_foundClient.Address</td>
                    <td>@_foundClient.BillNumber</td>
                    <td>@_foundClient.Amount</td>
                    <td>
                        <a class="btn btn-danger" @onclick="() => OnEmployeeDeleteClicked(_foundClient.Passport)">
                            <i class="oi oi-trash"></i>
                        </a>
                    </td>
            </tr>
            </tbody>
        </table>
    }
    else
    {
        <p><em>Nothing found...</em></p>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Hash</th>
                <th>Full Name</th>
                <th>Date of Birth</th>
                <th>Phone</th>
                <th>Passport ID</th>
     
            </tr>
        </thead>
        <tbody>
            @foreach (int key in _viewCollection.Keys)
            {
                <tr>
                    <td>@key</td>
                    @foreach (Client client in _viewCollection[key])
                    {
                        <td>@client.FullName</td>
                        <td>@client.DateOfBirth</td>
                        <td>@client.Phone</td>
                        <td>@client.Passport</td>
                        <td><a class="btn btn-danger" @onclick="() => OnEmployeeDeleteClicked(client.Passport)">
                            <i class="oi oi-trash"></i>
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private readonly IChainHashMap<string, Client>? _hashMap = new ChainHashMap<string, Client>();
    private Dictionary<int, IEnumerable<Client>>? _viewCollection;
    private string _searchId = string.Empty;
    private Client? _foundClient;

    protected override void OnInitialized()
    {
        string filePath = Environment.CurrentDirectory;
        ExportImportService<Client> service = new(filePath, "clients.csv");
        service.ExportPersons(DataGenerator.GenerateClients(30));

        IEnumerable<Client> clients = service.Import();
        foreach(Client client in clients)
        {
            _hashMap!.Add(client.Passport, client);
        }
        _viewCollection = _hashMap!.OutputValues();
    }

    private void OnSearchClicked()
    {
        if(!_hashMap!.TryGetValue(_searchId.Trim(), out Client? _found))
        {
            _viewCollection = null;
            _foundClient = null;
        }
        if (string.IsNullOrEmpty(_searchId))
        {
            _viewCollection = _hashMap.OutputValues();
        }
        else
        {
            _viewCollection = null;
            _foundClient = _found;
        }
    }

    private void OnEmployeeDeleteClicked(string key)
    {
        if(_hashMap!.Remove(key))
        {
            _viewCollection = _hashMap.OutputValues();
            _foundClient = null;
        }
    }
}
